.roundedcard
{
  border-radius: 20px;
  
}
.cardcolor{
    background-color:#69bb7b;
    overflow: visible
    
  }
.tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    overflow: visible !important; /* Prevent clipping */
 }
ion-fab-button {
    overflow: visible;
    position: relative;

    ion-label {
        position: absolute;
        top: -8px;
        right: 40px;

        color: white;
        background-color: rgba(0,0,0,0.7);
        line-height: 24px;
        padding: 4px 8px;
        border-radius: 4px;
    }
    contain: layout;
}
.custom-btn-fab 
{
    --background:white;
    --color: black;
    
}

.buttontab{
  padding-bottom:0px;
  padding-top: 200px;
}
